    <div class="col-md-12 navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <!--<ul class="nav navbar-nav">
          {% for page in site.pages %}
            {% if page.title %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>-->
       
        <ul class="nav navbar-nav navbar-right left-syms">
          {% if site.fb_username %}
          <li><a href="https://facebook.com/{{site.fb_username}}" target="_blank"><i class="fa fa-facebook-square"></i> <span>Facebook</span></a></li>
          {% endif %}
          <li><a href="http://github.com/{{ site.github_username}}" target="_blank"><i class="fa fa-github"></i> <span>Github</span></a></li>
          {% if site.twitter_username %}
          <li><a href="//twitter.com/{{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
          {% endif %}
          <li><a href="{{ "/atom.xml" }}" target="_blank"><i class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
        </ul>
      </div>
    </div>
